// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Krona+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// FONT SIZE, FAMILY & ETC
html,
.root {
  font-size: 16px;
  line-height: 1.5rem;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}

.sub {
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
  line-height: 6.3135rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 3.157rem;
  line-height: 4.7355rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 2.369rem;
  line-height: 3.5535rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.777rem;
  line-height: 2.6655rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.333rem;
  line-height: 1.9995rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h6 {
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

/* Let's make sure all's aligned */
hr,
.hr {
  border: 1px solid;
  margin: -1px 0;
}
a,
b,
i,
strong,
em,
small,
code {
  line-height: 0;
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

/* sub Headline */
